<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="Environments">
      <section name="Local" type="Minimal.Configuration.ConfigSectionHandler, Minimal" allowLocation="true" allowDefinition="Everywhere" />
      <section name="Development" type="Minimal.Configuration.ConfigSectionHandler, Minimal" allowLocation="true" allowDefinition="Everywhere" />
      <section name="Test" type="Minimal.Configuration.ConfigSectionHandler, Minimal" allowLocation="true" allowDefinition="Everywhere" />
      <section name="Production" type="Minimal.Configuration.ConfigSectionHandler, Minimal" allowLocation="true" allowDefinition="Everywhere" />
      <section name="Servers" type="Minimal.Configuration.ConfigSectionHandler, Minimal" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ApplicationID" value="e4c8a9d4-6105-4e2d-87bf-ece64f64e292"/>
    <add key="TestingQueue" value=".\private$\TestingQueue"/>
    <add key="EncryptedTestValue" value="IAAAAI2YHXS4SkViUZnv2MqZA/VxeCKkLg25cqSoNH70mjmIoiZt/632bQhwZvOCEWRQYg=="/>
  </appSettings>
  <connectionStrings>
    <add name="LocalNorthwind" connectionString="Server=Kevin-PC;Initial Catalog=Northwind;Integrated Security=SSPI;"/>
    <add name="DevelopmentNorthwind" connectionString="QwAAALl7CnneZkhI8bKSWVi9af+4pEf/4+H/Fo6PeOMyT5GINhzX6vGhfSKSH4N+82kHSC8iICiU9NdVQNcJI1PNPecv8FJ+GFHar32TMTqPbp+z"/>
    <add name="LocalAdventureWorks" connectionString="Server=Kevin-PC;Initial Catalog=AdventureWorks2012;Integrated Security=SSPI;"/>
    <add name="DevelopmentAdventureWorks" connectionString="TAAAALl7CnneZkhI8bKSWVi9af+4pEf/4+H/Fo6PeOMyT5GIB7HPsiaCRu/d3tJdr8jFISuYkpbCL0Fk4/JRYQ7oBD+TsiHRJtddgYVv1uz1oifb"/>
  </connectionStrings>
  <Environments>
    <Local>
      <add key="TestSetting1" value="Local setting 1" />
      <add key="TestSetting2" value="00:00:05" />
      <add key="TestSetting3" encrypted="true" value="WAAAACz3JJ3nSt2K5ZGmuaVwdTSQzqKS7dQpV8VzOzTv0XSBcJ7AKGquNX8dbT0Cc2FaPxh6Cn4b53jnwQPmSb6lrq0Hq/WjIlm90yFzAcLnrunbzcJ46OnX+xpqfE6arFAJ0w==" />
    </Local>
    <Development>
      <add key="TestSetting1" value="Development setting 1" />
      <add key="TestSetting2" value="00:00:10" />
      <add key="TestSetting3" encrypted="true" value="XgAAAGOuCTrZje+XGvwSgi/9uyfJioZqsab0y04aUY5vnHBcUtqNmOjY6+84f/ci7ZXIsNap3FZ2OLzJexLHSLSTN4iVW3Jq8PfTYcAqzTgP8rpedVT1WlwFuT6YHhTtQVc4ng==" />
    </Development>
    <Test>
      <add key="TestSetting1" value="Test setting 1" />
      <add key="TestSetting2" value="00:00:15" />
      <add key="TestSetting3" encrypted="true" value="VwAAAD/E152lX/KdLuIzlk+iWJSbaJ9h6aV2q3q9e6bHCtjBfElMFzPsOU9+2j0VPq3D5s+teDr58rQlXMrhRwb+lSATry31NWi92gsoYODiUqHPSqukZMm5nnVEYfm+NaUkfw==" />
    </Test>
    <Production>
      <add key="TestSetting1" value="Production setting 1" />
      <add key="TestSetting2" value="00:00:20" />
      <add key="TestSetting3" encrypted="true" value="XQAAAHGFwYy7B1JudJOhWbl2LL9Cbpa6tf8kBrgRO082b83lBMZFWfANuQ1ImJZSMMqsxdlc3aG+VTjYuchUPXEbCXwlqzjHI7oHEN8MAhIqs7gO12kMcRI1HaAkrPR50HZ3GA==" />
    </Production>
    <Servers>
      <add key="Default" value="Local" />
      <add key="Kevin-PC" value="Development" />
    </Servers>
  </Environments>
</configuration>